name: Libtask Testing
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    fail-fast: false
    strategy:
      matrix:
        version:
          - 'min'
          - '1.11'
          - '1'
          # TODO(mhauru) Reenable the below once there is a 'pre' version different from '1'.
          # - 'pre'
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}

      - uses: julia-actions/cache@v2

      - uses: julia-actions/julia-buildpkg@v1

      - uses: julia-actions/julia-runtest@v1
