name: Turing integration tests

on:
  push:
    branches:
      - main
  pull_request:

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

# Cancel existing tests on the same PR if a new commit is added to a pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  turing:
    runs-on: ${{ matrix.os }}
    fail-fast: false
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        version:
          - 'min'
          - '1.11'
          - '1'
    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}

      - uses: julia-actions/cache@v2

      - name: Instantiate
        id: instantiate
        working-directory: test/integration/turing
        continue-on-error: true
        run: julia --project=. --color=yes -e 'using Pkg; Pkg.instantiate()'

      - name: Report incompatibility
        if: steps.instantiate.outcome == 'failure'
        run: |
          echo "::warning::Turing is incompatible with the current version of Libtask. Skipping integration tests."
          echo "This likely means Turing has an compat bound on Libtask that excludes the currently checked out version."

      - name: Run Turing integration tests
        if: steps.instantiate.outcome == 'success'
        working-directory: test/integration/turing
        run: julia --project=. --color=yes main.jl
